.background {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: Roboto;
}

.background-adicionais{
    position: relative;
    display: flex;
    overflow-x: hidden;
    border-radius: 4px;
    margin-top: -45%;
    margin-left : 60%;
}


.p-produto__datelhesAdicionais--one,
.p-produto__datelhesAdicionais--two,
.p-produto__datelhesAdicionais--three,
.p-produto__datelhesAdicionais--four{
    height: 88px;
    width: 359px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #E8A634;

    margin: 0 0 0 50px;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 1.12%;

    background: #FFFFFF;
}

.p-produto__detalhesAdicionaisContador{
    position: relative;
    align-items: center;

    margin-top: -55px;
    margin-left: 280px;

    display: flex;
    justify-content: space-evenly;

    width: 89px;
    height: 32px;
    right: 8px;

    background: #FFFFFF;

    border: 1px solid #F09035;
    box-sizing: border-box;
    border-radius: 5px;

    cursor: pointer;
}

.p-produto__adicionais {
    margin-right: 100px;
    display: flex;
    justify-content: center;
    width: 30em;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    padding: 40px 20px;
}

.p-produto__detalhesAdicionaisNome{
    margin-top: 35px;

    left: 2.23%;
    right: 30.04%;
    top: 8.99%;
    bottom: 73.03%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    
    display: flex;
    align-items: center;
    
    /* Gray darker */
    
    color: #4E4E4E;
}

.p-produto__detalhesAdicionaisValor{
    margin: 40px 0 0 0;

    left: 2.23%;
    right: 30.04%;
    top: 71.91%;
    bottom: 10.11%;


    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    display: flex;
    align-items: center;

    /* Secondary/default */

    color: #F09035;
    
}
  
.p-produto__opcoes {
    height: 40em;
    overflow-y: auto;
    overflow-x: hidden;
}
  
.p-produto__opcoes--scroll::-webkit-scrollbar-track {
    border: 1px solid transparent;
    padding: 2px 0;
    background-color: transparent;
}
  
.p-produto__opcoes--scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #E8A634;
    border: 1px solid #E8A634;
}
  
.p-produto__opcoes--scroll::-webkit-scrollbar {
    width: 10px;
}
  
.p-produto__confirmacao {
    height: 4em;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
  
.p-produto__detalhes {
    height: 55px;
    width: 90%;
    left: 0px;
    top: 0px;

    margin: auto;
    background: rgba(253, 215, 14, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}
  
.p-produto__detalhesTitulo {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #4E4E4E;
    margin: 8px auto 0 16px;
}
  
.p-produto__detalhesDescricao {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #E49700;
    margin: 8px auto 8px 16px;
}
  
.p-produto__talherCheck {
    width: 36.4em;
    display: flex;
    flex-direction: column;
    margin: auto;
}
  
.p-produto__talherSim,
.p-produto__talherNao {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: row;
}
  
.p-produto__talherSim p,
.p-produto__talherNao p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 50px;
}
  
.p-produto__check {
    position: relative;
    cursor: pointer;
    margin-left: 350px;
}
  
.p-produto__check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.p-produto__mark {
    position: absolute;
    margin-top: 12px;   
    height: 16px;
    width: 16px;
    border-radius: 15px;
    border: 1px solid #E49700;
}
  
.p-produto__check:hover input~.p-produto__mark {
    background-color: #ccc;
}
  
.p-produto__mark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.p-produto__check input:checked~.p-produto__mark:after {
    display: block;
}
  
.p-produto__check .p-produto__mark:after {
    right: 4px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.p-produto__confirmacaoContador{
    height: 40px;
    width: 140px;
    cursor: pointer;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    background: #FFFFFF;

    border: 1px solid #F09035;
    border-radius: 4px;
}
  
.p-produto__button {
    width: 15.9em;
    height: 3.6em;
    background: #F09035;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}
  
.p-produto__button:active {
    background: #e67b18;
}
  
.p-produto__button p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    color: white;
}

@media(max-width: 700px) {
    .background-adicionais {
        margin-top: 550px;
        display: flex;
        width: 36em !important;
    }
    .p-produto__adicionais{
        border: none;
    }
    .p-produto__detalhes{
        position: relative;
        width: 343px;
        height: 55px;
        background: rgba(253, 215, 14, 0.2);
    }
    .p-produto__datelhesAdicionais--one,
    .p-produto__datelhesAdicionais--two,
    .p-produto__datelhesAdicionais--three,
    .p-produto__datelhesAdicionais--four{
        width: 343px;
        height: 88px;
        margin: auto;
        border-radius: 0px;
    }

    .p-produto__detalhesAdicionaisNome,
    .p-produto__detalhesAdicionaisValor{
        margin-top: 30px;
        margin-left: 5px;
    }

    .p-produto__detalhesAdicionaisContador{
        margin-left: auto;
    }
    .p-produto__check{
        margin-left: 310px;
    }
    .p-produto__confirmacao{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        margin-right: 20px;
    }
}
